[Desktop Entry]
Version=1.0
Name=Auflösung Beamer
GenericName=Ripper X
Comment=1024x768
Type=Application
Exec=res1024x768
Icon=video-x-generic
Categories=AudioVideo;Audio;
X-XFCE-Source=file:///usr/share/applications/ripperx.desktop
Path=
Terminal=false
StartupNotify=false
