[Desktop Entry]
Version=1.0
Type=Application
Name=BiU
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/BiU
Terminal=false
StartupNotify=false
