[Desktop Entry]
Version=1.0
Type=Application
Name=Alle
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Alle
Terminal=false
StartupNotify=false
