[Desktop Entry]
Version=1.0
Type=Application
Name=Englisch
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Englisch
Terminal=false
StartupNotify=false
