[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nwboxuser/Schreibtisch/DVD-vlc.desktop]
row=3
col=2

[/home/nwboxuser/Schreibtisch/DVD-smplayer.desktop]
row=3
col=1

[/home/nwboxuser/Schreibtisch/AnleitungenLehrer.desktop]
row=1
col=4

[/home/nwboxuser/Schreibtisch/VWA-Info.desktop]
row=2
col=3

[/home/nwboxuser/Schreibtisch/WebUntis.desktop]
row=1
col=1

[/home/nwboxuser/Schreibtisch/manuals.desktop]
row=2
col=1

[/home/nwboxuser/Schreibtisch/Schulbuch.desktop]
row=1
col=3

[/home/nwboxuser/Schreibtisch/orte.desktop]
row=4
col=1

[/home/nwboxuser/Schreibtisch/Win7.desktop]
row=1
col=5

[/home/nwboxuser/Schreibtisch/Hinweise.desktop]
row=2
col=2

[/home/nwboxuser/Schreibtisch/CD-oeffnen.desktop]
row=3
col=3

[/home/nwboxuser/Schreibtisch/Sokrates.desktop]
row=1
col=2

[Papierkorb]
row=3
col=5

