[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown
Comment=PC herunterfahren
Exec=/usr/local/sbin/dt-shu10.sh
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
