[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Monitor
Comment=Auflösung einstellen
Exec=/nwbox/public/start-from-server-xfce
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

