[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=start-from-serverx
Comment=Desktop reload
Exec=/usr/local/sbin/start-from-serverx.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

