[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xhost-root
Comment=add root to X
Exec=xhost 'si:localuser:root'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

