[Desktop Entry]
Version=1.0
Type=Application
Name=Französisch
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/France
Terminal=false
StartupNotify=false
