[Desktop Entry]
Version=1.0
Type=Application
Name=Italienisch
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Italienisch
Terminal=false
StartupNotify=false
