[Desktop Entry]
Version=1.0
Type=Application
Name=Mathematik
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Mathematik
Terminal=false
StartupNotify=false
