[Desktop Entry]
Version=1.0
Type=Application
Name=GW
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/GW
Terminal=false
StartupNotify=false
