[Desktop Entry]
Version=1.0
Type=Application
Name=Deutsch
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Deutsch
Terminal=false
StartupNotify=false
