[Desktop Entry]
Version=1.0
Type=Application
Name=Physik
Comment=
Exec=pcmanfm --profile=faecher
Icon=
Path=/nwbox/Faecher/Physik
Terminal=false
StartupNotify=false
