[Desktop Entry]
Type=Application
Icon=media-floppy
Name=Speicherorte
Comment=Unsere Speicherorte
Categories=FileManager;Utility;Core;GTK;
Exec=pcmanfm --profile=orte %U 
StartupNotify=true
Terminal=false
MimeType=inode/directory;
Path=/Orte
