[Desktop Entry]
Categories=Utility;Application;
Comment[de]=Start Windows 7 in a Virtual Machine
Comment=Start Windows 7 in a Virtual Machine
Exec=/opt/vms/startVM.sh
GenericName[de]=
GenericName=
Icon=/opt/vms/win7.png
MimeType=
Name[de]=Windows 7
Name=Windows 7
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
