[Desktop Entry]
Version=1.0
Type=Application
Name=VWA-Hilfe
Comment= Schritt-für-Schritt-Anleitung zur einfachen Formatierung der VWA
Exec=evince "/nwbox/manuals/VWA-Info (Formatierung).pdf"
Icon=gtk-edit
Path=
Terminal=false
StartupNotify=false
