[Desktop Entry]
Version=1.0
Type=Application
Name=WebUntis
Comment=Supplierplan
Exec=firefox -P default https://tritone.webuntis.com/WebUntis/?school=ak-gym-innsbruck#main
Icon=preferences-desktop-theme
Path=
Terminal=false
StartupNotify=true
