[Desktop Entry]
Name=Kiriki
Name[de]=Speicherorte
Icon=media-floppy
Type=Application
Exec=pcmanfm --profile=orte
X-DocPath=kiriki/index.html
GenericName=Yahtzee-like Dice Game
GenericName[de]=„Kniffel“-Würfelspiel
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-XFCE-Source=file:///usr/share/applications/kde4/kiriki.desktop
Comment=Wo sind meine Daten?
Path=/Orte
Terminal=false
StartupNotify=false
